# .env.example — DHAP-34 | naga_poluri
# copy to .env and fill in real values
# never commit .env to git

PG_HOST=target-db
PG_PORT=5432
PG_DB=customer_db
PG_USER=pg_user
PG_PASSWORD=change_this_password

AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow
AIRFLOW_POSTGRES_DB=airflow

# python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW__CORE__FERNET_KEY=REPLACE_WITH_YOUR_FERNET_KEY

# python3 -c "import secrets; print(secrets.token_hex(32))"
AIRFLOW_WEBSERVER_SECRET_KEY=REPLACE_WITH_YOUR_SECRET_KEY
